<article class="sections feed">
{{#if user}}
  <!-- Display feed content for authenticated users -->
    <section id="feed">
      <div>
          {{#if user}}
          <p>Welcome, {{user}}!</p>
          {{/if}}
      <h2>
          Care to share your thoughts?
      </h2>
      </div>
           <form action="/" method="POST">
      <section class="add-post">
        <section class="APOD">
          <div id="apod-main" class="random-apod">
            <img class="animatedImage" src="{{APOD.hdurl}}" alt="{{APOD.title}}">
            <p id="apod-title" class="animatedDescription">{{APOD.title}}</p>
          </div>
          <p id="apod-explanation" class="animatedDescription">{{APOD.explanation}}</p>
        </section>
        <div style="display: flex; flex-direction: row;">
          <p class="hidden" id="animatedHeader">Signal Header:</p>
          <input id="animatedInput" type="text" name="title" class="hidden" id="title">
        </div>
        <textarea id="animatedTextarea" name="text_content" class="hidden" placeholder="Enter your signal's content here."></textarea>
        <div id="post-buttons">
          <button id="animatedButton1" type="button" class="post-button">Make a new signal</button>
          {{!-- <form action="/api/APOD" method="post"> --}}
          <button id="animatedButton2" type="button" class="post-button">Make a signal with NASA APOD</button>
          {{!-- </form> --}}
          <button id="animatedButton3" type="button" class="post-button">Make a signal with a random APOD</button>
          <input type="hidden" name="title" value="{{withApod}}">
          <input type="hidden" name="title" value="{{title}}">
          <input type="hidden" name="text_content" value="{{text_content}}">
          {{consoleLog APOD}}
          <input id="apod-object" type="hidden" name="APOD" value="{{APOD}}">
            <button id="animatedButton4" type="submit" class="post-button">Submit your signal</button>
          </form>
        </div>
      </section>
    </section>
{{else}}
<section class="sections login">
    <!-- Login section -->
    <p id="login-header">Login</p>
    <form action="/login" method="POST">
        <input type="hidden" name="backURL" value="{{backURL}}">
        <!-- Login form -->
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <section id="login-submit">
            <!-- Login submit section -->
            <button class="login-button" type="submit">Login</button>
        </section>
    </form>
    <p>Don't have an account? <a href="/signup">Signup</a></p>
    <!-- Display an error message if it exists -->
    {{#if message}}
        <p class="error-message">{{ message }}</p>
    {{/if}}
</section>
{{/if}}

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script>
    
$(document).ready(function() {

  let APOD;
  const formatDate = (date) => {
    const year = date.getFullYear();
    const month = (date.getMonth() + 1).toString().padStart(2, '0');
    const day = date.getDate().toString().padStart(2, '0');
    return `${year}-${month}-${day}`;
  }
  const getRandomAPOD = () => {
    $.ajax({
      type: 'GET',
      url: '/api/APOD/random', // Your endpoint URL
      success: function(data) {
        // Update the APOD content with the received data
        APOD = data
        const apodMain = $('#apod-main');
        apodMain.find('.animatedImage').attr('src', data.hdurl);
        apodMain.find('#apod-title').text(data.title);
        $('#apod-explanation').text(data.explanation);
        $('#apod-object').val(JSON.stringify(APOD));
      },
      error: function(error) {
        console.error('Error fetching random APOD:', error);
      }
    });
  }
  const getAPOD = () => {
     $.ajax({
      type: 'GET',
      url: '/api/APOD/', // Your endpoint URL
      success: function(data) {
        APOD = data
        // Update the APOD content with the received data
        const apodMain = $('#apod-main');
        apodMain.find('.animatedDescription').text(data.title);
        $('#apod-explanation').text(data.explanation);

        // Check if media_type is 'image' or 'video'
        if (data.media_type === 'image') {
          // Update the image src and alt attributes
          apodMain.find('.animatedImage').attr('src', data.url);
          apodMain.find('.animatedImage').attr('alt', data.title);
        } else if (data.media_type === 'video') {
          // Create and append a video thumbnail image
          const videoThumbnail = $('<img>').addClass('video-thumbnail').attr('src', data.url).attr('alt', data.title);
          apodMain.prepend(videoThumbnail);
        }
        $('#apod-object').val(JSON.stringify(APOD));
      },
      error: function(error) {
        console.error('Error fetching random APOD:', error);
      }
    });
  };
  
  getAPOD();

  $('#animatedButton3').on('click', function() {
    // Make the AJAX request to your /random endpoint
    getRandomAPOD();
  });
  $('#animatedButton2').on('click', function() {
    getAPOD();
  });
});
</script>

    <!-- Loop over each post in the 'posts' array -->
{{#each posts as |post|}}
  <article class="post subsections">
    <a class="post-link" href="/posts/{{post.post_id}}">
    <h3>{{post.topic.name}}</h3>
    <section class="posts">
        <!-- Display the post title -->
        <h4><q>{{post.title}}</q></h4>
      <!-- Display the post content -->
      {{#if post.apod}}
      <img class="feed-img" src="{{post.apod.hdurl}}" alt="{{post.apod.title}}">
      {{else}}
      <img class="feed-img" src="{{post.mediaSource.url}}" alt="{{post.mediaSource.title}}">
      {{/if}}
      {{!-- <p>{{post.text_content}}</p> --}}
      <p>By: {{post.user.username}}</p>
      <p>Written on: {{formatDate post.created_at}}</p>
    </section>
      </a>
  </article>
{{/each}}

  </article>
{{!-- {{else}}
  <!-- Display message for unauthenticated users -->
  <section class="sections reject">
    <div class="rejection-text">
      <p>Please log in or sign up to access this content.</p>
      <br>
      <a href="/signup">Signup</a></p>
    </div>
    <br>
    <p>Already have an account? <a href="/login">Login</a></p>
  </section>
 --}}
