<article class="sections feed">
{{#if user}}
  <!-- Display feed content for authenticated users -->
    <section id="feed">
      <h2>
Care to share your thoughts?
      </h2>
      <section class="add-post">
        <section class="APOD">
          <div id="apod-main">
            <img class="animatedImage" src="{{APOD.hdurl}}" alt="{{APOD.title}}">
            <p class="animatedDescription">{{APOD.title}}</p>
          </div>
          <p class="animatedDescription">{{APOD.explanation}}</p>
        </section>
        <textarea id="animatedTextarea" class="hidden"></textarea>
        <div id="post-buttons">
          <button id="animatedButton1" class="post-button">Make a new signal</button>
          <button id="animatedButton2" class="post-button">Post the NASA APOD</button>
          <button id="animatedButton3" class="post-button">Post a random NASA photo and what you found about it.</button>
          <button id="animatedButton4" class="post-button">Submit your signal</button>
        </div>
      </section>
    </section>
<script>
        // Your JavaScript code for this specific view
        const animatedButton = document.getElementById('animatedButton1');
        const animatedButton2 = document.getElementById('animatedButton2');
        const animatedTextarea = document.getElementById('animatedTextarea');
        const animatedImage = document.getElementsByClassName('animatedImage')[0];
        animatedButton.addEventListener('click', () => {
            animatedTextarea.classList.toggle('visible');
        });
        animatedButton2.addEventListener('click', () => {
            animatedImage.classList.toggle('visible');
            animatedTextarea.setAttribute('visible', 'true');
        });
  </script>
{{/if}}
    <!-- Loop over each post in the 'posts' array -->
{{#each posts as |post|}}
  <article class="post subsections">
    <a class="post-link" href="/posts/{{post.post_id}}">
    <h3>{{post.topic.name}}</h3>
    <section class="posts">
        <!-- Display the post title -->
        <h4><q>{{post.title}}</q></h4>
      <!-- Display the post content -->
      <img class="feed-img" src="{{post.mediaSource.url}}" alt="{{post.mediaSource.name}}">
      <p>{{post.text_content}}</p>
      <p>By: {{formatDate post.user.username}}</p>
      <p>Written on: {{formatDate post.created_at}}</p>
    </section>
      </a>
  </article>
{{/each}}

  </article>
{{!-- {{else}}
  <!-- Display message for unauthenticated users -->
  <section class="sections reject">
    <div class="rejection-text">
      <p>Please log in or sign up to access this content.</p>
      <br>
      <a href="/signup">Signup</a></p>
    </div>
    <br>
    <p>Already have an account? <a href="/login">Login</a></p>
  </section>
 --}}
