{{#if user}}
<!-- If the user is logged in -->
<aside class="sidebar">
    <nav id="sidebar-nav">
        <ul>
            {{#if userPosts.length}}
            <!-- If the user has posts -->
            {{#each userPosts as |post|}}
            <!-- Loop through each user post -->
            <li><a href="#post{{post.post_id}}">{{post.title}}</a></li>
            <!-- Display a link to each post -->
            {{/each}}
            {{else}}
            <!-- If the user has no posts -->
            <li>You don't have any posts</li>
            <!-- Display a message stating that the user has no posts -->
            {{/if}}
        </ul>
    </nav>
</aside>  
<section class="sections profile">
    <br>
    {{consoleLog APOD}}
    <h2>Welcome to Your Profile, {{user}}!</h2>
    <!-- Display a welcome message with the user's name -->
          <h4>
        Care to share your thoughts?
      </h4>
          <form action="/" method="POST">
      <section class="add-post">
        <section class="APOD">
          <div id="apod-main" class="random-apod">
            <img class="animatedImage" src="{{APOD.hdurl}}" alt="{{APOD.title}}">
            <p id="apod-title" class="animatedDescription">{{APOD.title}}</p>
          </div>
          <p id="apod-explanation" class="animatedDescription">{{APOD.explanation}}</p>
        </section>
        <div style="display: flex; flex-direction: row;">
          <p class="hidden" id="animatedHeader">Signal Header:</p>
          <input id="animatedInput" type="text" name="title" class="hidden" id="title">
        </div>
        <textarea id="animatedTextarea" name="text_content" class="hidden"></textarea>
        <div id="post-buttons">
          <button id="animatedButton1" type="button" class="post-button">Make a new signal</button>
          {{!-- <form action="/api/APOD" method="post"> --}}
          <button id="animatedButton2" type="button" class="post-button">Make a signal with NASA APOD</button>
          {{!-- </form> --}}
          <button id="animatedButton3" type="button" class="post-button">Make a signal with a random APOD</button>
          <input type="hidden" id="apod_attached" name="apod_attached" value='false'>
          <input type="hidden" name="title" value="{{title}}">
          <input type="hidden" name="text_content" value="{{text_content}}">
          {{consoleLog APOD}}
          <input id="apod-object" type="hidden" name="APOD" value="{{APOD}}">
            <button id="animatedButton4" type="submit" class="post-button">Submit your signal</button>
          </form>
        </div>
      </section>
    {{#if userPosts.length}}
    <!-- If the user has posts -->
    <ul class="post-list">
        {{#each userPosts as |post|}}
        <!-- Loop through each user post -->
        <div class="subsections" id="post{{post.post_id}}">
            <a class="post-link" href="/posts/{{post.post_id}}">
                <h3><q>{{post.title}}</q></h3>
                {{#if post.apod}}
                <section class="APOD">
                <div id="apod-main" class="random-apod">
                <div id="image-container">
                    <img class="animatedImage" src="{{post.apod.hdurl}}" alt="{{post.apod.title}}">
                </div>
                    <p id="apod-title" class="animatedDescription">{{post.apod.title}}</p>
                </div>
                <p id="apod-explanation" class="animatedDescription">{{post.apod.explanation}}</p>
                </section>
                <!-- Display the post title -->
                {{else}}
                <div id="image-container">
                    <img class="feed-img" src="{{post.mediaSource.url}}" alt="{{post.mediaSource.title}}">
                </div>
                {{/if}}
                <!-- Display the post title -->
                <p>{{post.text_content}}</p>
                <!-- Display the post content -->
                <p>Written on: {{formatDate post.created_at}}</p>
            </a>
        </div>
        {{/each}}
    </ul>
    {{else}}
    <!-- If the user has no posts -->
    <p>You don't have any posts yet. Start by creating a new post!</p>
    <!-- Display a message stating that the user has no posts and suggesting to create a new post -->
    {{/if}}
</section>
{{else}}
<!-- If the user is not logged in -->
<section class="sections reject">
    <div class="rejection-text">
        <p>Please log in or sign up to access this content.</p>
        <br>
        <a href="/signup">Signup</a></p>
    </div>
    <br>
    <p>Already have an account? <a href="/login">Login</a></p>
    <!-- Display a message and links to signup and login pages -->
</section>
{{/if}}
<script>

$(document).ready(function() {
  let APOD;
          // Your JavaScript code for this specific view
        const submitButton = document.getElementById('animatedButton4');
        const animatedButton = document.getElementById('animatedButton1');
        const animatedButton2 = document.getElementById('animatedButton2');
        const animatedButton3 = document.getElementById('animatedButton3');
        const animatedTextarea = document.getElementById('animatedTextarea');
        const animatedImage = document.getElementsByClassName('animatedImage')[0];
       
          console.log(animatedButton2.classList)
        animatedButton.addEventListener('click', () => {
            animatedTextarea.classList.toggle('visible');
            animatedInput.classList.toggle('visible');
            animatedHeader.classList.toggle('visible');
            
        });
        animatedButton.addEventListener('click', () => {
          $('.post-button').addClass('expanded');

        })
        animatedButton2.addEventListener('click', () => {
          if (!animatedTextarea.classList.contains('visible')) {
            animatedTextarea.classList.toggle('visible');
            animatedInput.classList.toggle('visible');
            animatedHeader.classList.toggle('visible');

          }
          $('#apod_attached')[0].value = 'true'
        });
        animatedButton3.addEventListener('click', () => {
          if (!animatedTextarea.classList.contains('visible')) {
            animatedTextarea.classList.toggle('visible');
            animatedInput.classList.toggle('visible');
            animatedHeader.classList.toggle('visible');
          }
          $('#apod_attached')[0].value = 'true'
        });
        submitButton.addEventListener('click', () => {
          fetch('/', method="post")
        })
  const formatDate = (date) => {
    const year = date.getFullYear();
    const month = (date.getMonth() + 1).toString().padStart(2, '0');
    const day = date.getDate().toString().padStart(2, '0');
    return `${year}-${month}-${day}`;
  }
  const getRandomAPOD = () => {
    $.ajax({
      type: 'GET',
      url: '/api/APOD/random', // Your endpoint URL
      success: function(data) {
        // Update the APOD content with the received data
        APOD = data
        const apodMain = $('#apod-main');
        apodMain.find('.animatedImage').attr('src', data.hdurl);
        apodMain.find('#apod-title').text(data.title);
        $('#apod-explanation').text(data.explanation);
        $('#apod-object').val(JSON.stringify(APOD));
      },
      error: function(error) {
        console.error('Error fetching random APOD:', error);
      }
    });
  }
  const getAPOD = () => {
     $.ajax({
      type: 'GET',
      url: '/api/APOD/', // Your endpoint URL
      success: function(data) {
        APOD = data
        // Update the APOD content with the received data
        const apodMain = $('#apod-main');
        apodMain.find('.animatedDescription').text(data.title);
        $('#apod-explanation').text(data.explanation);

        // Check if media_type is 'image' or 'video'
        if (data.media_type === 'image') {
          // Update the image src and alt attributes
          apodMain.find('.animatedImage').attr('src', data.url);
          apodMain.find('.animatedImage').attr('alt', data.title);
        } else if (data.media_type === 'video') {
          // Create and append a video thumbnail image
          const videoThumbnail = $('<img>').addClass('video-thumbnail').attr('src', data.url).attr('alt', data.title);
          apodMain.prepend(videoThumbnail);
        }
        $('#apod-object').val(JSON.stringify(APOD));
      },
      error: function(error) {
        console.error('Error fetching random APOD:', error);
      }
    });
  };
  
  getAPOD();
    console.log("I got apod")
  $('#animatedButton3').on('click', function() {
    // Make the AJAX request to your /random endpoint
    getRandomAPOD();
  });
  $('#animatedButton2').on('click', function() {
    getAPOD();
  });
});
</script>